@charset "utf-8";

/* ウィンドウの背景色の設定 */
body{
 background-color: #fbf9cc;
}

/* ページタイトルの設定 */
h1{
 color: #6fbb9a;
 text-align: center;
 font-size: 250%;
}

/* リンク色の設定 */
/* a{
 color: #df4839;
}

a:hover{
 color: #ff705b;
} */

/* 大見出しの設定 */
h2{
 color: #6fbb9a;
 border: #94c8b1 1px dotted;
 border-left: #d0e35b 10px solid;
 padding: 5px 20px;
 margin-bottom: 0;
}
